button {
  background: var(--framework-color);
  color: var(--framework-text);
  border: none;
  border-radius: 0.5rem;
  padding-block: 0.25rem;
  padding-inline: 0.75rem;
  transition: background 0.25s ease;
  &:hover {
    background: var(--framework-button);
  }
}