---
import Layout from '../layouts/Layout.astro';
// import VueFruitList from '../components/FruitList.vue';
// import ReactFruitList from '../components/FruitList';
// import SvelteFruitList from '../components/Fruitlist.svelte';

const fruits = [
  'Strawberry',
  'Apple',
  'Watermelon',
  'Cherry',
  'Banana',
  'Blueberry',
  'Honeydew',
  'Mango',
  'Peach',
  'Pineapple',
];

fruits.sort((a, b) => a.localeCompare(b));
---

<Layout title="Fruit Page">
  <header>
    <h1>Fruits</h1>

    <nav>
      <a href="/about">About</a>
    </nav>
  </header>

  <section id="astro-fruits">
    <h2><span class="framework">Astro</span> Fruits</h2>
    <p>Renders as plain HTML.</p>
    <ul>
      {fruits.map((fruit) => <li>{fruit}</li>)}
    </ul>
    <div>
      <strong>Total Fruits:</strong>
      {fruits.length}
    </div>
  </section>

  <!-- Vue client:idle -->
  <!-- <VueFruitList /> -->

  <!-- React -->
  <!-- <ReactFruitList client:media="(min-width: 600px)" /> -->

  <!-- Svelte -->
  <!-- <SvelteFruitList client:visible /> -->

	<!-- Vanilla JavaScript -->
  <!-- <button id="test">
		Vanilla JavaScript Button
	</button> -->
</Layout>
